.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

body{
	padding: 0;
	margin: 0;
}

.container{
	width: 1140px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.cell{
	float: left;
	width: 164px;
	height: 69px;
	margin-right: 30px;
}
.logo{
	margin: 25px 0 0 16px;
}

.cell_style{
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	box-sizing: border-box;
	padding-top: 24px;
}

.cell_style:hover{
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	background: #0dc4e4;
	box-sizing: border-box;
	padding-top: 24px;
	background: linear-gradient(to bottom, #0dc4e4, #ffffff);
}

.linkblock {cursor:pointer}


.last_cell{
	float: left;
	width: 164px;
	height: 69px;
}

.last_img{
	float: left;
	padding: 24px 6px 0 7px;
	display: block;
}

.last_cell_style{
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 26px 0 0 0;
	display: block;
}

.design_font{
	text-align: center;
	display: block;
	font-family: "Malgun", sans-serif; font-size: 17px;
	color:#0067ad;
	text-decoration: none;
}


.cell_style:hover .design_font{
	text-align: center;
	display: block;
	font-family: "Malgun", sans-serif; font-size: 17px;
	color:#ffffff;
	text-decoration: none;
}

.last_design_font{
	font-family: "Malgun", sans-serif; font-size: 16px;
	color:#0067ad;
	text-decoration: none;
}

.obolochka{
	overflow: hidden;
	margin-bottom: 70px;
}

.zagruzka_masterov{
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	float: left;
	width: 164px;
	height: 212px;
	margin: 0 27px 0 0;
}

.remont{
	margin: 8px 0 0 55px;
}

.remont_cell{
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	text-align: center;
	box-sizing: border-box;
	width: 145px;
	height: 40px;
	margin: 8px 8px 11px 9px;
	display: block;
}

.remont_cell:hover{
	background: #0dc4e4; 
}

.remont_cell:hover .design_font{
	text-align: center;
	display: block;
	font-family: "Malgun", sans-serif; font-size: 17px;
	color:#ffffff;
	text-decoration: none;
}

.zakraska{
	float: left;
	display: block;
	width: 8px;
	height: 39px;
	background: #0dc4e4;
	margin: 0 2px 0 0;
}

.remont_cell:hover .zakraska
{
	float: left;
	display: block;
	width: 8px;
	height: 38px;
	background: #ffffff;
	margin: 0 2px 0 0;
}

.remont_text{
	box-sizing: border-box;
	padding: 11px 0 0 0px;
	text-align: left;
}

.banner{
	float: left;
	width: 555px;
	height: 216px;
	background: url("../img/darenbell_banner.jpg");
	margin-top: -1px;
	margin-right: 30px;
}

.otstup_font_1{
	margin: 74px 0 0 226px;
}

.font_banner_1{
	font-family: "Euphemia", sans-serif; font-size: 30px;
	color:#ffffff;
	text-decoration: none;
}

.otstup_font_2{
	margin: 9px 0 0 160px;
}

.font_banner_2{
	font-family: "Cambria Math", sans-serif; font-size: 24px;
	color:#ffffff;
	text-decoration: none;
}

.section_1{
	overflow: hidden;
	margin-bottom: 22px;
}

.Autorization{
	float: left;
	width: 360px;
	height: 214px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
}

.center_autorization{
	margin: 10px 0 0 0;
	text-align: center;
}

.design_font_Autorization{
	font-family: "Malgun Gothic", sans-serif; font-size: 18px;
	color:#0067ad;
	text-decoration: none;
}

.img_and_login{
	margin: 28px 0 0 25px;
}

.img_login{
	float: left;
	margin-right: 30px;
}

.login{
	float: left;
	width: 204px;
	height: 31px;
	display: block;
}


.login_text{
	float: left;
	width: 204px;
	height: 31px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;

	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#0067ad;
	text-decoration: none;
}

.img_and_password{
	float: left;
	margin: 12px 0 0 25px;
}

.sign_in_sign_up{
	margin: 11px 0 0 110px;
}
.sign_in_sign_up1{
	margin: 11px 0 0 115px;
}

.sign_in{
	float: left;
	width: 115px;
	height: 28px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 20px;
	text-align: center;
}

.sign_in:hover{
	background: #0dc4e4;
}

.sign_in:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.sign_up{
	float: left;
	width: 70px;
	height: 30px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	text-align: center;
	margin-top: 20px;
	background: #ffffff;
}

.sign_up:hover{
	background: #0dc4e4;
}

.sign_up:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#0067ad;
	text-decoration: none;
}

.design_font_sign_up:hover{
	color:#ffffff;	
}

.news{
	float: left;
	width: 747px;
	height: 854px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
}

.news_header{
	float: left;
	width: 747px;
	height: 48px;
	display: block;
}

.text_news{
	float: left;
	margin-left: 22px;
	margin-top: 6px;
	font-family: "Malgun Gothic", sans-serif; font-size: 24px; 
	text-transform: uppercase;
	color:#0067ad;
	text-decoration: none;
}


label {
	cursor: pointer;
	float: left;
	margin-left: 7px;
	margin-top: 4px;
	font-family: "Malgun Gothic", sans-serif; font-size: 16px; 
	text-decoration: none;
}

input[type=checkbox] {
	display: none;
}

label:before {
	content: "";
	float: left;
	margin:3px 10px 0 0;
	width: 14px;
	height: 14px;
	border: 1px;
	border-color: #0067ad;
	border-style: solid;
	border-radius: 10px 10px 10px 10px; 
	display: block;
}

 input[type=checkbox]:checked + label:before {
	float: left;
	margin:3px 10px 0 0;
	width: 14px;
	height: 14px;
	border: 1px;
	border-color: #0067ad;
	border-style: solid;
	border-radius: 10px 10px 10px 10px;
	background: #0067ad; 
	display: block;
}

.news_container{
	float: left;
	overflow: hidden;
	margin:0 0 30px 5px;
}

.news_img{
	float: left;
	width: 168px;
	height: 168px;
	border: 1px;
	border-style: solid ;
	border-color: #7fb3d6;
	margin-right: 20px;
}

.news_text{
	float: left;
	width: 540px;
	height: 168px;
	border: 1px;
	border-style: solid;
	border-color: #7fb3d6;
}

.news_text_header{
	width: 550px;
	height: 25px;
	border: 1px;
	border-style: none none solid none;
	border-color: #7fb3d6;
}

.news_text_body{
	width: 550px;
	height: 122px;
}

.news_text_footer{
	width: 550px;
	height: 18px;
	border: 1px;
	border-style: solid none none none;
	border-color: #7fb3d6;
}

.font_news_text_header{
	margin: 0 0 0 2px;
	font-family: "Malgun Gothic", sans-serif; font-size: 16px; 
	color:#0067ad;
	text-decoration: none;
}

.font_news_text_body{
	margin:2px 4px 0 4px;
	overflow: hidden;
	font-family: "Malgun Gothic", sans-serif; font-size: 12px; 
	color:#0067ad;
	text-decoration: none;
}

.obolochka_news_footer{
	margin:1px 0 0 2px;
	width: 55px;
	height:12px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	border-radius: 5px 5px 5px 5px; 
	display: block;
	float: left;
}

.footer_font_buttons_red{
	float:left;
	color:#ff0000;
	margin:-2px 0 0 8px;
	font-family: "Malgun Gothic", sans-serif; font-size: 11px; 
	text-decoration: none;
}

.footer_font_buttons_blue{
	float:left; 
	margin:-2px 0 0 3px;
	color:#769fc8;
	font-family: "Malgun Gothic", sans-serif; font-size: 11px; 
	text-decoration: none;
}
.footer_font_buttons_yellow{
	float:left; 
	margin:-2px 0 0 10px;
	color:#fff000;
	font-family: "Malgun Gothic", sans-serif; font-size: 11px; 
	text-decoration: none;
}
.time{
	float: right;
	margin:0 18px 0 50px;
	font-family: "Malgun Gothic", sans-serif; font-size: 11px; 
	font-style: oblique;
	color:#0067ad;
	text-decoration: none;
}

.autor{
	float: right;
	margin: 0 0 0 0;
	font-family: "Malgun Gothic", sans-serif; font-size: 11px; 
	color:#0067ad;
	text-decoration: none;
}

.raiting{
	float: left;
	margin:0 0 0 30px;
	width: 361px;
	height:855px;
}

.raiting_header{
	width: 359px;
	height:48px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid none solid;
}

.raiting_header_font{
	float: left;
	margin: 11px 0 0 15px;
	font-family: "Malgun Gothic", sans-serif; font-size: 18px;
	color:#0067ad;
	text-decoration: none;
	text-transform: uppercase;
}

.user{
	float: left;
	width: 263px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid solid solid;
}

.points{
	float: left;
	width: 95px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid solid none;
}

.raiting_otstup_a{
	margin-left: 70px;
}

.raiting_otstup_b{
	margin-left: 22px;
}

.user1{
	float: left;
	width: 263px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none solid solid solid;
}

.points1{
	float: left;
	width: 95px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none solid solid none;
}

.raiting_otstup_a1{
	float: left;
	margin:4px 0 0 60px;
}

.raiting_otstup_b1{
	float: left;
	margin:2px 0 0 25px;
}

.design_font_sign_up1{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#0067ad;
	text-decoration: none;
}

.raiting_header1{
	float: left;
	width: 359px;
	height:48px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none solid none solid;
}

.raiting_otstup_a2{
	margin-left: 100px;
}


.fon_footer{
	margin-top: 52px;
	float: left;
	width: 1140px;
	height: 87px;
	display: block;
	background: url("../img/footer.jpg");
}

.footer_logo{
	float: left;
	margin:18px 0 0 15px;
}

.footer_phone_2{
	float: left;
	margin:58px 0 0 -140px;
}
.footer_number{
	float: left;
	margin: 55px 0 0 -120px;
	font-family: "Malgun Gothic", sans-serif; font-size: 16.88px;
	color:#ffffff;
	text-decoration: none;
}

.prava{
	float: left;
	margin: 57px 0 0 10px;
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	font-variant: small-caps;
	color:#ffffff;
	text-decoration: none;
}


.biba{
	font-size: 12px;
	color: red;
	text-align: center;
	margin: 2px;
}


.messages{
	float: left;
	width: 150px;
	height: 26px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 20px;
	text-align: center;
	padding-top: 2px;
}

.messages:hover{
	background: #0dc4e4;
}

.messages:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.block_new{
	margin-top: 15px;
	margin-left: 620px;
}

.photo_login{
	float: left;
	width: 80px;
	height: 80px;
	margin:0px 10px 0px 20px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
}


.img_style_login{
	width:100%; 
	height:100%;
	margin:0px;

}

.text_profile_login{
	width: 240px;
	height: 50px;
	float: left;
	padding-top: 30px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
}


