.block_registration{

	margin-left:auto;
	margin-right: auto;
	margin-top: 50px;
	width: 400px;
	height: 800px;
}

.logo{
	float: left;
	width: 400px;
	height: 30px;
	margin-bottom: 20px;
}
.img_logo{
	margin-left:125px;
}

.login{
	float: left;
	margin-top: 30px;
	width: 400px;
	height: 30px;
}

.left_login{
	float: left;
	width: 150px;
	height: 30px;
}

.right_login{
	float: left;
	width: 250px;
	height: 30px;
}

@font-face {
font-family: 'PT Sans Italic';
src: url('/fonts/p/PT_Sans_Italic.ttf');
}

.login_text {
margin: 0px;
font-family: "Malgun Gothic";
color:#0067ad;
font-size: 18px;
}



.login_text_1 {
margin: 0px;
font-family: "Malgun Gothic";
color:#0067ad;
font-size: 18px;
}

.right_login_text{
float: right;

	width: 204px;
	height: 25px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;

	font-family: "Malgun Gothic", sans-serif; font-size: 15px;
	color:#0067ad;
	text-decoration: none;
}

.photo_text{
	float: right;

	width: 204px;
	height: 25px;
	display: block;

	font-family: "Malgun Gothic", sans-serif; font-size: 12px;
	color:#0067ad;
	text-decoration: none;
	margin-top:5px;
}

.linkblock {cursor:pointer}

.buttons{
	float: left;
	margin-top: 50px;
}

.button_left{
    float: left;
	width: 100px;
	height: 34px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	background-color: #ffffff;
	display: block;
	margin-right: 40px;
	margin-top: 9px;
	margin-left:70px;
	text-align: center;
}

.button_left:hover{
	float: left;
	width: 100px;
	height: 34px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	text-align: center;
	background: #0dc4e4;
}

.button_right{
float: left;
	width: 100px;
	height: 34px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	background-color: #ffffff;
	display: block;
	margin-right: 16px;
	margin-top: 9px;
	text-align: center;
}

.button_right:hover{
	float: left;
	width: 100px;
	height: 34px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 9px;
	text-align: center;
	background: #0dc4e4;
}

.login_text_1:hover{
	color: #ffffff;
}

.biba{
	text-align: center;
	margin: 0px;
    font-family: "Malgun Gothic";
    color:red;
    font-size: 15px;
}

