.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.linkblock {cursor:pointer}

body{
	padding: 0;
	margin: 0;
}

.container{
	width: 1140px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.cell{
	float: left;
	width: 164px;
	height: 69px;
	margin-right: 30px;
}
.logo{
	margin: 25px 0 0 16px;
}

.cell_style{
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	box-sizing: border-box;
	padding-top: 24px;
}

.cell_style:hover{
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	background: #0dc4e4;
	box-sizing: border-box;
	padding-top: 24px;
	background: linear-gradient(to bottom, #0dc4e4, #ffffff);
}


.last_cell{
	float: left;
	width: 164px;
	height: 69px;
}

.last_img{
	float: left;
	padding: 24px 6px 0 7px;
	display: block;
}

.last_cell_style{
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 26px 0 0 0;
	display: block;
}

.design_font{
	text-align: center;
	display: block;
	font-family: "Malgun", sans-serif; font-size: 17px;
	color:#0067ad;
	text-decoration: none;
}


.cell_style:hover .design_font{
	text-align: center;
	display: block;
	font-family: "Malgun", sans-serif; font-size: 17px;
	color:#ffffff;
	text-decoration: none;
}

.last_design_font{
	font-family: "Malgun", sans-serif; font-size: 16px;
	color:#0067ad;
	text-decoration: none;
}

.obolochka{
	overflow: hidden;
	margin-bottom: 70px;
}

.otstup_font_1{
	margin: 74px 0 0 226px;
}

.section_1{
	overflow: hidden;
	margin-bottom: 22px;
}

.Autorization{
	float: right;
	width: 360px;
	height: 214px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
}

.center_autorization{
	margin: 10px 0 0 0;
	text-align: center;
}

.design_font_Autorization{
	font-family: "Malgun Gothic", sans-serif; font-size: 18px;
	color:#0067ad;
	text-decoration: none;
}

.img_and_login{
	margin: 28px 0 0 25px;
}

.img_login{
	float: left;
	margin-right: 30px;
}

.login{
	float: left;
	width: 204px;
	height: 31px;
	display: block;
}


.login_text{
	float: left;
	width: 204px;
	height: 31px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;

	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#0067ad;
	text-decoration: none;
}

.img_and_password{
	float: left;
	margin: 12px 0 0 25px;
}

.sign_in:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.sign_up:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#0067ad;
	text-decoration: none;
}

.design_font_sign_up:hover{
	color:#ffffff;	
}

.news{
	float: left;
	margin-top: -280px;
	width: 747px;
	height: 100%;
	display: block;
}



.news_text_footer{
	width: 550px;
	height: 18px;
	border: 1px;
	border-style: solid none none none;
	border-color: #7fb3d6;
}

.raiting{
	float: right;
	margin:0 0 0 30px;
	width: 361px;
	height:855px;
}

.raiting_header{
	width: 359px;
	height:48px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid none solid;
}

.raiting_header_font{
	float: left;
	margin: 11px 0 0 15px;
	font-family: "Malgun Gothic", sans-serif; font-size: 18px;
	color:#0067ad;
	text-decoration: none;
	text-transform: uppercase;
}

.user{
	float: left;
	width: 263px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid solid solid;
}

.points{
	float: left;
	width: 95px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid solid none;
}

.raiting_otstup_a{
	margin-left: 70px;
}

.raiting_otstup_b{
	margin-left: 22px;
}

.user1{
	float: left;
	width: 263px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none solid solid solid;
}

.points1{
	float: left;
	width: 95px;
	height: 27px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none solid solid none;
}

.raiting_otstup_a1{
	float: left;
	margin:4px 0 0 60px;
}

.raiting_otstup_b1{
	float: left;
	margin:2px 0 0 25px;
}

.design_font_sign_up1{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#0067ad;
	text-decoration: none;
}

.raiting_header1{
	float: left;
	width: 359px;
	height:48px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none solid none solid;
}

.raiting_otstup_a2{
	margin-left: 100px;
}


.fon_footer{
	margin-top: -88px;
	float: left;
	width: 1140px;
	height: 87px;
	display: block;
	background: url("../img/footer.jpg");
}

.footer_logo{
	float: left;
	margin:18px 0 0 15px;
}

.footer_phone_2{
	float: left;
	margin:58px 0 0 -140px;
}
.footer_number{
	float: left;
	margin: 55px 0 0 -120px;
	font-family: "Malgun Gothic", sans-serif; font-size: 16.88px;
	color:#ffffff;
	text-decoration: none;
}

.prava{
	float: left;
	margin: 57px 0 0 10px;
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	font-variant: small-caps;
	color:#ffffff;
	text-decoration: none;
}

.header_news{
	height: 30px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: none none solid none;
}

.header_news_font{
	margin: 2px 0 0 2px;
	text-align: center;
	font-family: "Malgun Gothic", sans-serif; font-size: 20px;
	color:#0067ad;
	text-decoration:none;
}

.text_news{
	margin: 2px;
	float: left;
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#0067ad;
	width: 100%;
	text-decoration: none;
}

.table{
	width: 100%;
}

.zagolovok{
	font-family: "Malgun Gothic", sans-serif; font-size: 20px;
	color:#0067ad;
	text-align: center;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid solid solid;
}

.text_standart{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#0067ad;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid solid solid solid;
}

.biba{
	font-size: 12px;
	color: red;
	text-align: center;
	margin: 2px;
}

.empty_block{
float: left;
	width: 360px;
	height: 90px;
	display: block;
}

.messages{
	float: left;
	width: 150px;
	height: 26px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 9px;
	text-align: center;
	padding-top: 2px;
}

.messages:hover{
	background: #0dc4e4;
}

.messages:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.ot_kogo{
	height: 400px;
	width: 738px;
	margin-top: 20px;
	overflow: scroll;
}

.textarea_1{
resize: none;
background:#7fb3d6;
}


.textarea_2{
resize: none;
}

.design_font_sign_up2{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#ffffff;
	text-decoration: none;
}

.qq1{
	margin-left: 607px;
	background:#ffffff;
}

.send{
	float: left;
	width: 115px;
	height: 30px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 9px;
	text-align: center;
}

.send:hover{
	float: left;
	background: #0dc4e4;
}

.design_font_sign_up3{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#0067ad;
	text-decoration: none;
}

.design_font_sign_up3:hover{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#ffffff;
	text-decoration: none;
}

.login_message{
	padding: 4px 0 0 2px;
	float: left;
	width: 100px;
	height: 30px;
	margin-right: 470px;
}
.date_message{
	float: left;
	width: 150px;
	height: 30px;
}

.photo_message{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
}
.text_message{
	float: left;
	width: 600px;
	height: 100%;
}

.text_login{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#0067ad;
	text-decoration: none;
}
.text_date{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#0067ad;
	text-decoration: none;
}
.text_soob{
	font-family: "Malgun Gothic", sans-serif; font-size: 14px;
	color:#0067ad;
	text-decoration: none;
}

.photo_login{
	float: left;
	width: 80px;
	height: 80px;
	margin:0px 10px 0px 20px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
}


.img_style_login{
	width:100%; 
	height:100%;
	margin:0px;

}

.text_profile_login{
	width: 240px;
	height: 50px;
	float: left;
	padding-top: 30px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
}
.sign_in_sign_up1{
	margin: 11px 0 0 115px;
}

.sign_up{
	float: left;
	width: 70px;
	height: 30px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	text-align: center;
	margin-top: 20px;
	background: #ffffff;
}

.sign_up:hover{
	background: #0dc4e4;
}

.sign_up:hover .design_font_sign_up{
	font-family: "Malgun Gothic", sans-serif; font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

.messages{
	float: left;
	width: 150px;
	height: 26px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 20px;
	text-align: center;
	padding-top: 2px;
}

.sign_in{
	float: left;
	width: 115px;
	height: 28px;
	border: 1px;
	border-color: #7fb3d6;
	border-style: solid;
	display: block;
	margin-right: 16px;
	margin-top: 20px;
	text-align: center;
}

.sign_in:hover{
	background: #0dc4e4;
}

.sign_in_sign_up{
	margin: 11px 0 0 110px;
}